<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./public/sign.css">
</head>
<body>
    <div class="header">
        <header class="gh">Get Hired</header>
        <header class="com">.com</header>
    </div>
    <div class="popup">

    </div>
    <br><br><br>
    <form class="signup-form">
        <label class="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label class="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label class="phone">Phone:</label>
        <input type="number" id="phone" name="phone"><br><br>
        <label class="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <button id="signup">Sign Up</button><br><br>
        <a href="./login.html" class="link">=>Already a user</a>
    </form>
    
    <script src="signup.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.js" ></script>
</body>
</html>