*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./chatgpt-in-recruitment.jpg);
}
.header{
    background-color: rebeccapurple;
    padding: 8px;
    display: flex;
}
.gh{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.com
{
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.signup-form{
    border-radius: 10px;
    border: 2px;
    background-color: royalblue;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    padding: 30px;
}
#name,#email,#phone,#password{
    padding: 2px;
    padding-right: 3%;
    border-radius: 5px;
    border:none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.email,.name{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    margin-right: 4%;
    color: white;
}
.password{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    color: white;
}
.phone{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    margin-right: 3.5%;
    color: white;
}
#signup,#login{
    padding: 10px;
    background-color: rgb(13, 63, 223);
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-size: 15px;
}
.link{
    text-decoration: none;
    color: rgb(6, 226, 72);
    font-size: 15px;
}
.popup{
    position: fixed;
    right: 10px;
    bottom: 10px;
   }
   .toast{
    background-color: rgb(226, 29, 29);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 2rem;
    margin: 1rem;
   }
   #forgot{
    border: none;
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(13, 63, 223);
    color: whitesmoke;
   }